<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518599330717-7kll5e9sil8ha0cgu70if4lqe815fl73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518599330717-7kll5e9sil8ha0cgu70if4lqe815fl73</string>
	<key>API_KEY</key>
	<string>AIzaSyD6lu93zXdjJPj53WzJAbOxVidicrMRX10</string>
	<key>GCM_SENDER_ID</key>
	<string>518599330717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appBooking</string>
	<key>PROJECT_ID</key>
	<string>fir-setup-pbl6</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-setup-pbl6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518599330717:ios:25eb5c84b7972f22773d74</string>
</dict>
</plist>